%owl-style{
	top: 38%;
	position: absolute;
	background: #a5a5a5c2;
	color: #f00;
	font-size: 26px;
}
body{
	margin: 0;
}
.main-slider {
	.owl-stage {
		.item{
			color: #FFF;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			text-align: center;
			img {
				display: block;
				height: 100%;
				width: auto;
				min-width: 100%;
			}
			.description {
				position: absolute;
				top: 20%;
				right: 17%;
				width: 30%;
				text-align: justify;
				max-height: 71%;
			}
		}
	}
	.owl-nav{
		.owl-prev{
			@extend %owl-style;
			left: 5%;
		}
		.owl-next{
			@extend %owl-style;
			right: 5%;
		}
	}
	.owl-dots{
		position: absolute;
		bottom: 2%;
		left: 50%;
		.owl-dot span {
			width: 18px;
			height: 18px;
		}
	}
}
.owl-stage-outer * {
     height:100%;
}
.owl-carousel 
  {
    touch-action: manipulation; 
  }