%owl-style{
	top: 38%;
	position: absolute;
	background: #a5a5a5c2;
	color: #f00;
	font-size: 26px;
}
.main-slider {
	.owl-stage {
		.item{
			color: #FFF;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			text-align: center;
			img {
				display: block;
				height: 100%;
				width: auto;
				min-width: 100%;
			}
		}
	}
	.owl-nav{
		.owl-prev{
			@extend %owl-style;
			left: 5%;
		}
		.owl-next{
			@extend %owl-style;
			right: 5%;
		}
	}
}
.owl-stage-outer * {
     height:100%;
}
.owl-carousel 
  {
    touch-action: manipulation; 
  }